<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chat</title>
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
    
        :root {
            color-scheme: light dark;
        }
    
        body {
            margin: 0;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            display: grid;
            place-content: center;
            height: 100vh;
            padding: 36px 36px 100px 36px;
            grid-template-rows: 1fr;
        }
        
        h1 {
            text-align: center;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow-y: scroll;
            height: 100%;
            scroll-behavior: smooth;
            padding-bottom: 58px;
            color: #fff;
            margin-left: 20px;
            margin-top: 20px;
        }
    
        #messages>li {
            background: #09f;
            
            padding: .5rem 1rem;
            margin-bottom: 20px;
            border-radius: 10px;
            max-width: 170px;
        }
        #messages>li:nth-child(odd){
            background: #e0dede;
            color: black;
        }
    
        #chat {
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow: hidden;
            width: 400px;
            height: 100%;
            position: relative;
        }
    
        #form {
            bottom: 0;
            display: flex;
            height: 48px;
            left: 0;
            padding: 4px;
            position: absolute;
            right: 0;
        }
    
        #input {
            border-radius: 9999px;
            border: 1px solid #eee;
            flex: 1;
            margin: 4px;
            padding: 0 8px;
        }
    
        #input:focus {
            outline: 0;
        }
    
        #form>button {
            background: #09f;
            color: #fff;
            border: 0;
            margin: 4px;
            border-radius: 4px;
        }
    
        #form>button:hover {
            background: #0cf;

        }
        button{
            cursor: pointer;
        }
        small {
            color: #ffff;
            font-size: 12px;
            border-bottom: 1px solid #ccc; /* Ajusta el color y el grosor del borde según tus preferencias */
            font-weight: bold;
        }

        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>
    <script type="module">
        import { io } from 'https://cdn.socket.io/4.3.2/socket.io.esm.min.js' /* Import io */
        const socket = io({
            auth: {
                username: '<%= usuario %>', /* Send username */
                serverOffset:0
            }
        }) /* Create Socket */
        const form = document.getElementById('form')/* Get the form */
        const input = document.getElementById('input') /* Get the input */
        const messages = document.getElementById('messages') /* Get the messages */
        
        socket.on('chat message',(msg,serverOffset,username) =>{
            const item = `<li> 
            <small>${username}</small>
            <p>${msg}</p>
            </li>`
            messages.insertAdjacentHTML('beforeend',item) /* Add the list item to the messages */
            socket.auth.serverOffset = serverOffset
            messages.scrollTop = messages.scrollHeight /* Scroll to the bottom */
        })
        
        
        form.addEventListener('submit',(e) =>{
            e.preventDefault()
            if (input.value) {
                socket.emit('chat message', input.value) /* Emit chat message */
                input.value = '' /* Clear the input */
            }
        }) 
    </script>
</head>

<body>
    <h1>Hola, <%= usuario %>!</h1>
    <section id="chat">
        <ul id = "messages"></ul>
        <form id="form">
            <input type="text" name = "message" id="input" placeholder="Type a message" autocomplete="off">
            <button type="submit">Send</button>
        </form>
    </section>
</body>
</html>